NODE RED flows.json
[{"id":"c5aaa986.5f7118","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"20f172ce.957bfe","type":"debug","z":"c5aaa986.5f7118","name":"mdg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"jsonata","statusVal":"","statusType":"auto","x":690,"y":20,"wires":[],"info":" * "},{"id":"5da5a65f.26e498","type":"function","z":"c5aaa986.5f7118","name":"Temperature","func":"global.set('t', msg.payload.temperature)\nmsg.payload=msg.payload.temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":80,"wires":[["20f172ce.957bfe","354212e0.be8ebe"]]},{"id":"a68f6ba2.aa5e78","type":"function","z":"c5aaa986.5f7118","name":"Humidity","func":"global.set('h',msg.payload.humidity)\nmsg.payload=msg.payload.humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":120,"wires":[["cba60cae.d9d31","20f172ce.957bfe"]]},{"id":"5c37695f.aa04b8","type":"function","z":"c5aaa986.5f7118","name":"Vibration","func":"global.set('v',msg.payload.vibration)\nmsg.payload=msg.payload.vibration\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":160,"wires":[["52d147e0.6250c8","20f172ce.957bfe"]]},{"id":"eb691b78.211998","type":"ibmiot in","z":"c5aaa986.5f7118","authentication":"apiKey","apiKey":"46a227ee.f90a18","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"3456","applicationId":"","deviceType":"data","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":true,"qos":0,"x":170,"y":180,"wires":[["5da5a65f.26e498","a68f6ba2.aa5e78","5c37695f.aa04b8","8869ff72.cf27d","20f172ce.957bfe"]]},{"id":"354212e0.be8ebe","type":"ui_gauge","z":"c5aaa986.5f7118","name":"temperature","group":"b330a03.8aa5c6","order":1,"width":8,"height":5,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":"28","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":80,"wires":[]},{"id":"cba60cae.d9d31","type":"ui_gauge","z":"c5aaa986.5f7118","name":"humidity","group":"b330a03.8aa5c6","order":2,"width":8,"height":5,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":"44","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":120,"wires":[]},{"id":"52d147e0.6250c8","type":"ui_gauge","z":"c5aaa986.5f7118","name":"vibration","group":"b330a03.8aa5c6","order":9,"width":8,"height":5,"gtype":"gage","title":"Vibration","label":"units","format":"{{value}}","min":"10","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":160,"wires":[]},{"id":"b2294be6.65b178","type":"ui_gauge","z":"c5aaa986.5f7118","name":"current","group":"b330a03.8aa5c6","order":10,"width":8,"height":5,"gtype":"gage","title":"Current","label":"units","format":"{{value}}","min":"10","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":200,"wires":[]},{"id":"217d9da3.d53482","type":"ui_button","z":"c5aaa986.5f7118","name":"","group":"b330a03.8aa5c6","order":3,"width":8,"height":1,"passthru":true,"label":"LIGHTON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"\"lighton\"","payloadType":"json","topic":"topic","topicType":"msg","x":200,"y":260,"wires":[["cc54101e.6a029","b80c2eca.be68c"]]},{"id":"815fbb88.a9acf8","type":"ui_button","z":"c5aaa986.5f7118","name":"","group":"b330a03.8aa5c6","order":5,"width":8,"height":1,"passthru":true,"label":"LIGHTOFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"\"lightoff\"","payloadType":"json","topic":"topic","topicType":"msg","x":210,"y":300,"wires":[["cc54101e.6a029","b80c2eca.be68c"]]},{"id":"b5d57097.c58ff","type":"ui_button","z":"c5aaa986.5f7118","name":"","group":"b330a03.8aa5c6","order":12,"width":8,"height":1,"passthru":false,"label":"MOTORON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"\"motoron\"","payloadType":"json","topic":"topic","topicType":"msg","x":210,"y":340,"wires":[["cc54101e.6a029","b80c2eca.be68c"]]},{"id":"af2cc22.428df4","type":"ui_button","z":"c5aaa986.5f7118","name":"","group":"b330a03.8aa5c6","order":14,"width":8,"height":1,"passthru":false,"label":"MOTOROFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"\"motoroff\"","payloadType":"json","topic":"topic","topicType":"msg","x":210,"y":380,"wires":[["cc54101e.6a029","b80c2eca.be68c"]]},{"id":"416bb264.0d86cc","type":"http response","z":"c5aaa986.5f7118","name":"","statusCode":"","headers":{},"x":650,"y":440,"wires":[]},{"id":"911151b1.fa5d3","type":"inject","z":"c5aaa986.5f7118","name":"IOTPROJECT","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":20,"wires":[["20f172ce.957bfe"]]},{"id":"a61b2dd6.6d178","type":"function","z":"c5aaa986.5f7118","name":"data","func":"msg.payload={\n    \"temperature\":global.get('t'),\n    \"humidity\"   :global.get('h'),\n    \"vibration\"  :global.get('v'),\n    \"current\"    :global.get('c')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":580,"wires":[["1ee3c6ab.67c9c9"]]},{"id":"6d0128e.05d4bd8","type":"http in","z":"c5aaa986.5f7118","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":220,"y":580,"wires":[["a61b2dd6.6d178"]]},{"id":"1ee3c6ab.67c9c9","type":"http response","z":"c5aaa986.5f7118","name":"","statusCode":"","headers":{},"x":660,"y":580,"wires":[]},{"id":"8869ff72.cf27d","type":"function","z":"c5aaa986.5f7118","name":"current","func":"global.set('c',msg.payload.current)\nmsg.payload=msg.payload.current\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":200,"wires":[["b2294be6.65b178","20f172ce.957bfe"]]},{"id":"cc54101e.6a029","type":"debug","z":"c5aaa986.5f7118","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":280,"wires":[]},{"id":"7ae2d8df.0a76f8","type":"function","z":"c5aaa986.5f7118","name":"","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":460,"wires":[["416bb264.0d86cc","b80c2eca.be68c","73bbd9aa.0e30b8"]]},{"id":"b80c2eca.be68c","type":"ibmiot out","z":"c5aaa986.5f7118","authentication":"apiKey","apiKey":"46a227ee.f90a18","outputType":"cmd","deviceId":"3456","deviceType":"data","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":690,"y":360,"wires":[]},{"id":"13c744d5.3bfa0b","type":"http in","z":"c5aaa986.5f7118","name":"","url":"/cmd","method":"get","upload":false,"swaggerDoc":"","x":250,"y":460,"wires":[["7ae2d8df.0a76f8"]]},{"id":"73bbd9aa.0e30b8","type":"debug","z":"c5aaa986.5f7118","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":520,"wires":[]},{"id":"46a227ee.f90a18","type":"ibmiot","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"b330a03.8aa5c6","type":"ui_group","name":"","tab":"d67c411d.bf025","order":2,"disp":false,"width":"24","collapse":false},{"id":"d67c411d.bf025","type":"ui_tab","name":"Sensor data","icon":"dashboard","disabled":false,"hidden":false}]
